In [1]:
from statsmodels.stats.weightstats import ztest as ztest
import numpy as np
from scipy.stats import ttest_1samp
import seaborn as sns

In [3]:
#Enter IQ level of 20 people
data = [88,92,94,94,96,97,97,99,99,105,109,109,109,110,112,112,113,114,115]
data

[88,
 92,
 94,
 94,
 96,
 97,
 97,
 99,
 99,
 105,
 109,
 109,
 109,
 110,
 112,
 112,
 113,
 114,
 115]

In [5]:
ztest(data,value=100) #It returns two values. One is z test value and another is p value. P value basically tells us whether we accept or reject the null hypothesis.
#p value < significance value means we have to erject the null hypothesis

(1.6976532110033402, 0.08957323350769629)

In [6]:
#t -test
age = [10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]
age

[10,
 20,
 35,
 50,
 28,
 40,
 55,
 18,
 16,
 55,
 30,
 25,
 43,
 18,
 30,
 28,
 14,
 24,
 16,
 17,
 32,
 35,
 26,
 27,
 65,
 18,
 43,
 23,
 21,
 20,
 19,
 70]

In [7]:
age_mean = np.mean(age)
age_mean

30.34375

In [11]:
sample_size = 10
ages_sample = np.random.choice(age,sample_size)
ages_sample

array([21, 27, 65, 19, 28, 25, 43, 50, 18, 24])

In [16]:
ttest_1samp(ages_sample,age_mean)

Ttest_1sampResult(statistic=0.3369902812983075, pvalue=0.7438496278671141)

In [3]:
df = sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
df.corr()

C:\Users\Bhaskar Bhar\AppData\Local\Temp\ipykernel_10144\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [ ]:
sns.pairplot(df)